.header {
    width: 100%;
    height: min-content;
    background-color: var(--sidebar-color);

    &-navigation-ul {
        list-style: none;
        text-align: right;
        width: 50%;

        &-li {
            display: inline;
            margin-left: 10px;
            float: left;

            &-btn {
                width: 40px;
                height: auto;
                cursor: pointer;
                transition: all ease-in-out 1s;
            }
        }
    }
}

.ul-left {
    display: none;
}

.ul-right {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: right;

    &>li {
        float: right;

        &:last-child {
            margin-right: 10px;
        }
    }
}

.settings-btn:hover {
    transform: rotate(180deg);
}

.add-msg-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    display: grid;
    place-items: center;
    z-index: 10;

    &-form {
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--padding-xs);
        width: 95%;
        max-width: 500px;
        padding: var(--padding-xs);
        border-radius: 10px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

        &-input,
        &-btn {
            width: 100%;
            font-size: 1rem;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: var(--sidebar-btn-color);
            transition: all ease-in-out .2s;
        }

        &-btn {
            text-transform: capitalize;
            font-weight: 500;
        }

        &-textarea {
            resize: vertical;
            max-height: 250px;
            min-height: 40px;
        }

        &-bar {
            width: 100%;

            &::-webkit-progress-value {
                background-color: var(--primary-color);
            }
        }
    }
}

.settings-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    display: grid;
    place-items: center;
    z-index: 10;

    &-box {
        background-color: var(--background-color);
        width: 95vw;
        max-width: 550px;
        padding: var(--padding-xs);
        border-radius: 10px;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);

        &-section {
            width: 100%;
            table-layout: fixed;

            &>tbody {
                width: 100%;
            }

            &-topic,
            &-value {
                padding: var(--padding-xs);
                background-color: var(--sidebar-btn-color);
                text-wrap: wrap;
                word-wrap: break-word;
                width: 100%;
                color: var(--primary-color);
            }

            &-topic {
                text-align: left;
                font-weight: 500;
            }

            &-value {
                text-align: center;
                cursor: pointer;

                &-li {
                    list-style: none;
                    color: var(--primary-color);
                }
            }
        }

        &-btn {
            width: 100%;
            font-size: 1rem;
            padding: 10px;
            border: none;
            border-radius: 10px;
            background-color: var(--sidebar-btn-color);
            color: var(--primary-color);
            transition: all ease-in-out .2s;
            margin-top: var(--padding-xs);
            font-weight: 500;

            &:hover {
                background-color: var(--hover-color);
                color: var(--background-color);
            }
        }
    }
}

.top-l {
    border-top-left-radius: 10px;
}

.top-r {
    border-top-right-radius: 10px;
}

.bottom-l {
    border-bottom-left-radius: 10px;
}

.bottom-r {
    border-bottom-right-radius: 10px;
}

@media screen and (max-width: 450px) {
    .ul-left {
        display: unset;
    }
}

@media screen and (max-width: 320px) {
    .header-navigation-ul-li-btn {
        width: 30px;
    }
}