.carousel {
    width: 250px;
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    left: 50%;
    translate: -50% 0;

    &-box {
        width: 100%;
        height: calc(100% - 35px);
        display: flex;
        transition: transform 0.4s ease-in-out;

        &-item-box {
            min-width: 250px;
            max-width: 250px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &>iframe,
            &>img {
                height: 100%;
                width: auto;
            }
        }
    }

    &-controls {
        width: clamp(100px, 100%, 300px);
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;

        &>img {
            height: 25px;
            width: auto;
            cursor: pointer;
        }

        &-input {
            width: 50px;
            text-align: center;
            -moz-appearance: textfield;
            appearance: textfield;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 730px) {
    .carousel {
        height: auto;

        &-box-item-box>img,
        &-box-item-box>iframe {
            width: 100%;
            height: auto;
        }
    }
}