@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
  --index: calc(1vh + 1vw);
  --sidebar-width: clamp(100px, 15%, 200px);

  /* Padding sizes */
  --padding-xs: var(--index);
  --padding-sm: calc(var(--index) * 2);
  --padding-md: calc(var(--index) * 3);
  --padding-lg: calc(var(--index) * 4);
  --padding-xl: calc(var(--index) * 6);

  /* Font Sizes */
  --font-size-small: 14px;
  --font-size-regular: 16px;
  --font-size-large: 20px;
  --font-size-extra-large: 24px;

  /* Colors */
  --primary-color: #37515f;
  --background-color: #F5F5F5;
  --sidebar-color: #f0f0f1;
  --sidebar-btn-color: #eaebec;
  --hover-color: #4e6571;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--sidebar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hover-color);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

*::selection {
  background-color: #00a8e8;
  color: white;
}

button {
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
}

main {
  min-height: 100%;
}

body {
  background-color: var(--background-color);
}

@media screen and (max-width: 750px) {
  ::-webkit-scrollbar {
    width: 2px;
  }
}